* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: [full-start] 5% [content-start] auto [content-end] 5% [full-end];
}

.SearchBar {
  grid-column-start: full-start;
  grid-column-end: full-end;
}

.Container {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
}

.u-width60 {
  min-width: 60%;
  margin-top: 50px;
  position: relative;
}

.u-width40 {
  min-width: 40%;
  margin-top: 50px;
  position: relative;
}
