.SearchBar {
  width: 100%;
  padding: 20px;
  background: #4a40e6;
  border-bottom: 1px solid #3d33d5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.SearchBar-Input {
  width: 80%;
  max-width: 500px;
  padding: 12px 12px 12px 16px;
  border: 1px solid #3d33d5;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.SearchBar-Button button {
  cursor: pointer;
}

.SearchBar-Button button {
  padding: 12px 18px;
  border: none;
  background: #20198a;
  color: #fff;
  border-radius: 0 8px 8px 0;
  height: 100%;
  width: 100%;
}
